# Documents & Source Files
*.pdf
Anjir_Jaman_CV.pdf
Anjir_Jaman_CV.tex
cv_template.html
chakrify.md
cognilik.md
LandLinker.md
nlp.md
sohojlipi.md

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
